

body {

	background-attachment:fixed;
	padding-top: 90px;
  background: url('../images/370.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;

	
}

.notauth {
	color: black;
	text-align: center;
	border: 1px solid black;
	width: 100%;
	font-weight: bolder;
	text-align: center;
}
.editpost{
	background-color: rgba(0, 0, 0, 0.85);
}
.buttonsofpost {
	padding: 0px;
	margin-top: 50px;
}
.authorspan {
	font-weight: bolder;
	text-align: italic;
	font-size: 30px;
	color: white !important;
}
.allblogposts {
	background-color:wheat;
}
.text-right {
	font-size: 30px;
}
.media-heading {
	font-size: 40px;
}
.contentDiv p{
	font-size: 16px;
}


.media {
	background-color: rgba(0, 0, 0, 0.85);
	margin: 10px;
	padding: 10px;
	border: 2px solid wheat;
}
.postdivimage {
	width: 300px;
	height: 240px;

}
.contentDiv {
	height: 100px;
}

.linkdivs {
	margin-bottom: 10px;
	text-align: center;
}

.controllerNavigation {
	padding: 10px 15px;
	background: #4479BA;
	color: #FFF;
	margin: 5px;
}
.controllerNavigation:hover {
	padding: 10px 15px;
	background: #FFF;
	color: #4479BA;
	margin: 5px;
	
}
.controlall {
	background-color: rgba(0, 0, 0, 0.95);
	border-top:3px solid wheat;
	width: 100%;

}
.addform {
	width: 50%;
	margin: 0 auto;

}

.controldown {
	margin: 10px;

}
.controlup {
	display: block;
	
	margin: 0 auto;
}


.form-btn {
  width: 30%;
  height: 30px;
  color: black;
  background-color: rgba(255, 255, 255, .9);
  margin: 10px;
  text-align: center;
  font-weight: bold;
	border-radius: 3px;
}
.card,.editform{
	color: wheat;
	background-color: rgba(0, 0, 0, 0.89);
	border-top: 2px solid wheat;
}

.editform {

}

.bottomforms {
	margin: 10px;
}
.card-img-top {
	padding: 3px;
	margin-top: 7px;
	width: 100%;
	height: 170px;
}

.card h3 {
	color: wheat;
	font-size: 17px;
	font-weight: bold;
	background-color: transparent;
	text-align: center;
	padding-top: 5px;
}
.list-group-item {
	color: wheat;
	font-size: 15px;
	font-weight: bold;
	background-color: transparent;
	text-align: center;
	padding-top: 5px;
}
.card p {
	color: wheat;
	font-size: 15px;
	background-color: transparent;
}



body {color: wheat}
.orderslist{
	background: silver;
	color: black;
	margin: 10px;
	padding: 10px;
	text-align: center;
	border: 2px solid red
}	


/* mypar css */

.myPar>h1 {
	color: wheat;
	font-family: 'Cormorant Garamond';
	border-top: 3px solid wheat;
	font-size: 30px;
	text-shadow: 3px 3px 3px black;
	font-weight: 500;
	line-height: 72px;
	letter-spacing: 18px;
	margin-bottom: 57px;
	text-align: center;
	text-indent: 24px;
	text-transform: uppercase;
}
@media (max-width:800px){
	.myPar>h1 {
		font-size: 10px;
}}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}
[class*='close-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate ;
	        animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate ;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-11-18 14:55:9
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.tracking-in-contract {
	font-size: 10px;
}



.myPar>p {
	color: wheat;

	font-family: 'Cormorant Garamond';
	font-size: 28px;
	font-style: italic;
	font-weight: 400;
	line-height: 48px;
	max-width: 640px;
	margin: 0 auto 48px;
	text-align: center;
}

.myPar>a {
	color: #e66c7e;	border-bottom: 2px solid #e66c7e;
	font-family: 'Cormorant Garamond';
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: uppercase;
}

.myPar>a:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}
/* mypar css */


.footer-distributed{
	background-image: url(../images/biege1.jpg);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  black;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  black;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: black;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 2px;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 20px;
	line-height: 38px;
	color: wheat;
	background-color: black;

}
.footer-distributed .footer-center  i.fa-phone{
	font-size: 20px;
	line-height: 38px;
	color: wheat;
	background-color: black;

}
.footer-distributed .footer-center  i.fa-map-marker{
	font-size: 20px;
	line-height: 38px;
	color: wheat;
	background-color: black;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  black;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: black;
	border-radius: 2px;

	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-centesr,
	.footer-distributed .footer-right{
		display: block;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media (max-width:600px) {

	.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
		top: 0; /* Position the navbar at the top of the page */
		margin-top: 0;
}

}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
}


.header-search {
	background-image: url(../images/biege1.jpg);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 0;
	z-index: 11;
	height: 80px;
	padding-top: 25px;
	color: black;
	box-sizing: border-box;
}


.fa {
	font-size: 1.2em;color:wheat;
}

.team-error {
	color:red;
}
.header-search .header-limiter {
	max-width: 1200px;
	margin: 0 auto;
}

/* Logo */

.header-search .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
    margin: 0;
    color: #33383b
}

.header-search .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-search .header-limiter a {
	color: black;
	text-decoration: none;
}

.header-search .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-search .header-limiter nav a{
	display: inline-block;
	padding:0 10px;
	border-right: 1px solid black;
	text-decoration:none;
	font-size: 20px;
	font-weight: 400;
}

.header-search .header-limiter nav a:hover {
	opacity: 1;
	color: #5383d3
}

/* .header-search .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
} */

/* The search box */

/* .header-search .header-limiter form {
	float:right;
	position: relative;
	right: 30px;
	margin-left: 40px;
	border-radius: 3px;
	background-color:  #3a3c3e;
	width: 44px;
	height: 39px;
	cursor: pointer;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
} */

/* CSS search icon */

/* .header-search .header-limiter form:before {
	position: absolute;
	content: '';
	border-radius: 50%;
	border: 2px solid #fff;
	width: 9px;
	height: 9px;
	top: 12px;
	left: 14px;
} */

/* .header-search .header-limiter form:after {
	position: absolute;
	content: '';
	background-color: #fff;
	width: 2px;
	height: 8px;
	top: 22px;
	left: 26px;
	-webkit-transform: rotate(-44deg);
	-moz-transform: rotate(-44deg);
	transform: rotate(-44deg);
} */

/* The search box */



/* Making the header responsive. */

@media (max-width: 800px) {

	.header-search {
		position: fixed;
	}

	.header-search .header-limiter h1 {
		font-size: 16px;
	}

	.header-search .header-limiter nav {
		float: none;
		margin: 0;
	}

	.header-search .header-limiter nav a {
		font-size: 10px;
	}



}


